
@{
    ViewData["Title"] = "PartnerList";
    Layout = "~/Views/Shared/_Partner.cshtml";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/js/PartnerList.js")"></script>
    <script>
        $("#sidenav li").each(function () {
            if ($(this).data("link") == "partner_list") {
                $(this).addClass("active");
            }
            else {
                $(this).removeClass("active");
            }
        });
    </script>
}

<h1 class="page-header">Partner List</h1>
<table class="table table-condensed table-striped custom-table">
    <thead>
        <tr>
            <th scope="col">Partner Name</th>
            <th scope="col">Accounting Code</th>
            <th scope="col">Status</th>
            <th scope="col">Service</th>
            <th scope="col">Integration Type</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class=" btn btn-default" href="/Partner/Section1"><span class="glyphicon glyphicon-eye-open mr-5"></span>View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class=" btn btn-default" href="/Partner/Section1"><span class="glyphicon glyphicon-eye-open mr-5"></span>View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class=" btn btn-default" href="/Partner/Section1"><span class="glyphicon glyphicon-eye-open mr-5"></span>View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class=" btn btn-default" href="/Partner/Section1"><span class="glyphicon glyphicon-eye-open mr-5"></span>View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class=" btn btn-default" href="/Partner/Section1"><span class="glyphicon glyphicon-eye-open mr-5"></span>View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class=" btn btn-default" href="/Partner/Section1"><span class="glyphicon glyphicon-eye-open mr-5"></span>View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class=" btn btn-default" href="/Partner/Section1"><span class="glyphicon glyphicon-eye-open mr-5"></span>View Details</a></td>
        </tr>
    </tbody>
</table>
