
@{
    ViewData["Title"] = "PartnerList";
    Layout = "~/Views/Shared/_Partner.cshtml";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/js/PartnerList.js")"></script>
}

<h1>PartnerList</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Partner Name</th>
            <th scope="col">Accounting Code</th>
            <th scope="col">Status</th>
            <th scope="col">Service</th>
            <th scope="col">Integration Type</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class="form-control btn btn-default" href="/Partner/Section1">View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class="form-control btn btn-default" href="/Partner/Section1">View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class="form-control btn btn-default" href="/Partner/Section1">View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class="form-control btn btn-default" href="/Partner/Section1">View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class="form-control btn btn-default" href="/Partner/Section1">View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class="form-control btn btn-default" href="/Partner/Section1">View Details</a></td>
        </tr>
        <tr>
            <td>Partner 1</td>
            <td>P0123</td>
            <td>Active</td>
            <td>Bills Payment</td>
            <td>Batch</td>
            <td><a class="form-control btn btn-default" href="/Partner/Section1">View Details</a></td>
        </tr>
    </tbody>
</table>
