
@{
    ViewData["Title"] = "Section5";
    Layout = "~/Views/Shared/_Partner.cshtml";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/js/Section1.js")"></script>
    <script>
        $("#sidenav li").each(function () {
            if ($(this).data("link") == "partner_list") {
                $(this).addClass("active");
            }
            else {
                $(this).removeClass("active");
            }
        });
    </script>
}
<h1 class="page-header">
    Partner 1
    <p>
        <small>Section 5: Fees</small>
    </p>
</h1>


<form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
        <label class="control-label col-sm-3" for="sffeeType">Fee Type:</label>
        <div class="col-sm-5">
            <select name="sffeeType" class="form-control forUpdatedis">
                <option selected="selected" value="fixed">Fixed</option>
                <option value="tiered">Tiered</option>
            </select>
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="serviceFee">Service Fee:</label>
        <div class="col-sm-5">
            <input type="text" name="serviceFee" class="form-control forUpdatedis txtData" value="5.00">
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="cffeeType">Fee Type:</label>
        <div class="col-sm-5">
            <select name="cffeeType" class="form-control forUpdatedis">
                <option selected="selected" value="tiered">Tiered</option>
                <option value="fixed">Fixed</option>
            </select>
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="convenienceFee">Convenience Fee:</label>
        <div class="col-sm-5">
            <input type="text" name="convenienceFee" class="form-control forUpdatedis txtData" value="2500 – 50,000">
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <a class="btn btn-default" href="/Partner/Section4"><span class="glyphicon glyphicon-arrow-left mr-5"></span>Prev</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a class="btn btn-default" href="/Partner/Section6">Next <span class="glyphicon glyphicon-arrow-right mr-5"></span></a>
            </div>
        </div>
    </div>
</form>