
@{
    ViewData["Title"] = "Section2";
    Layout = "~/Views/Shared/_Partner.cshtml";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/js/Section1.js")"></script>
    <script>
        $("#sidenav li").each(function () {
            if ($(this).data("link") == "partner_list") {
                $(this).addClass("active");
            }
            else {
                $(this).removeClass("active");
            }
        });
    </script>
}
<h1 class="page-header">
    Partner 1
    <p><small>Section 2: Required Fields</small></p>
</h1>


<form class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-3" for="fieldName">Field Name:</label>
        <div class="col-sm-5">
            <input type="text" name="fieldName" class="form-control forUpdatedis txtData" value="Field name">
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="controlType">Control Type :</label>
        <div class="col-sm-5">
            <select name="controlType" class="form-control forUpdatedis">
                <option selected="selected">Text</option>
                <option>Dropdown</option>
                <option>Datepicker</option>
            </select>
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="minCharacters">Min Characters :</label>
        <div class="col-sm-5">
            <input type="text" name="minCharacters" class="form-control forUpdatedis txtData" value="0">
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="maxCharacters">Max Characters :</label>
        <div class="col-sm-5">
            <input type="text" name="maxCharacters" class="form-control forUpdatedis txtData" value="100">
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="composition">Composition :</label>
        <div class="col-sm-5">
            <select name="composition" class="form-control forUpdatedis">
                <option selected="selected">Numeric</option>
                <option>Alphanumeric</option>
                <option>Pure Numeric</option>
            </select>
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="prefix">Prefix :</label>
        <div class="col-sm-5">
            <input type="text" name="fieldName" class="form-control forUpdatedis txtData" value="S, P, T">
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="receiptName">Tester :</label>
        <div class="col-sm-5">
            <input type="text" name="receiptName" class="form-control txtData" value="">
        </div>
        <div class="col-sm-4">
            <div class="btnGroup">
                <button type="button" class="btnEdit forView btn-block btn btn-info"><span class="glyphicon glyphicon-ok mr-5"></span>Validate</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3"></label>
        <div class="col-sm-5">
        </div>
        <div class="col-sm-4">
            <a class="btn btn-danger"><span class="glyphicon glyphicon-trash mr-5"></span>Delete Field</a>
            <a class="btn btn-primary"><span class="glyphicon glyphicon-plus mr-5"></span>Add Field</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <a class="btn btn-success btn-block" href="/Partner/Section3"><span class="mr-5 glyphicon glyphicon-ok-circle"></span>Submit Section For Approval</a>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>
