
@{
    ViewData["Title"] = "Section4";
    Layout = "~/Views/Shared/_Partner.cshtml";
}

<h1>Section4</h1>

<div>
    <label id="lbl-test"></label>
</div>

<script type="text/javascript">


    $(document).ready(function () {

        alert(1);

    });


</script>