
@{
    ViewData["Title"] = "Section3";
    Layout = "~/Views/Shared/_Partner.cshtml";
}

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("/js/Section1.js")"></script>
    <script>
        $("#sidenav li").each(function () {
            if ($(this).data("link") == "partner_list") {
                $(this).addClass("active");
            }
            else {
                $(this).removeClass("active");
            }
        });
    </script>
}
<h1 class="page-header">
    Partner 1
    <p><small>Section 3: Biller Reminders</small></p>
</h1>



<form class="form-horizontal">


    <div class="row">
        <div class="col-md-12">
            <h3>Reminders to be Placed:</h3>
            <div class="col-sm-8">
                <textarea style="width:100%; min-height:300px;" class="forUpdatedis">1. Paragraphs
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.

2. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</textarea>
            </div>
            <div class="col-sm-4">
                <div class="btnGroup">
                    <button type="button" class="btnEdit forView  btn-block btn btn-info"><span class="glyphicon glyphicon-edit mr-5"></span>Edit</button>
                    <button type="button" class="btnSave forUpdate btn btn-primary"><span class="glyphicon glyphicon-floppy-saved mr-5"></span>Save</button>
                    <button type="button" class="btnCancel forUpdate btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove mr-5"></span>Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <a class="btn btn-success btn-block" href="/Partner/Section4"><span class="mr-5 glyphicon glyphicon-ok-circle"></span>Submit Section For Approval</a>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <a class="btn btn-default" href="/Partner/Section2"><span class="glyphicon glyphicon-arrow-left mr-5"></span>Prev</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <a class="btn btn-default" href="/Partner/Section4">Next <span class="glyphicon glyphicon-arrow-right mr-5"></span></a>
            </div>
        </div>
    </div>
</form>
