
@{
    ViewData["Title"] = "MyRequest";
    Layout = "~/Views/Shared/_Partner.cshtml";
}

<h1>My Requests</h1>

<div>
    <span>Active</span>
    <div style="border: 1px solid black; width:80%;">
        <table class="table table-borderless table-condensed">
            <tr>
                <td>Add Partner 1</td>
                <td>For Approval - CTIPD</td>
                <td><a class="form-control btn btn-default" href="/User/ForApprovals" style="width:300px;">Details</a></td>
            </tr>
            <tr>
                <td>Edit Partner 2</td>
                <td>For Approval - CTIPD</td>
                <td><a class="form-control btn btn-default" href="/User/ForApprovals" style="width:300px;">Details</a></td>
            </tr>
        </table>
    </div>
    <br /><br />
    <span>History</span>
    <div style="border: 1px solid black; width:80%;">
        <table class="table table-borderless table-condensed">
            <tr>
                <td>Add Partner 2</td>
                <td>Executed</td>
                <td><a class="form-control btn btn-default" href="/User/ForApprovals" style="width:300px;">Details</a></td>
            </tr>
            <tr>
                <td>Edit Partner 3</td>
                <td>Executed</td>
                <td><a class="form-control btn btn-default" href="/User/ForApprovals" style="width:300px;">Details</a></td>
            </tr>
        </table>
    </div>

</div>